[submodule "stm32-cmake"]
	path = stm32-cmake
	url = https://github.com/dvescovi1/stm32-cmake.git
	branch = master
[submodule "STM32CubeH7"]
	path = STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
	branch = master
[submodule "STM32CubeH5"]
	path = STM32CubeH5
	url = https://github.com/STMicroelectronics/STM32CubeH5.git
	branch = main
[submodule "STM32CubeL4"]
	path = STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
	branch = master