[submodule "stm32-cmake"]
	path = stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "STM32CubeH7"]
	path = STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
	branch = master
[submodule "STM32CubeH5"]
	path = STM32CubeH5
	url = https://github.com/STMicroelectronics/STM32CubeH5.git
	branch = main